<!DOCTYPE html>
<html>
<head>
	<title>new post</title>
</head>
<body>
	<form action="/write" method="post">
		<label for="title">Title</label><br>
		<input type="text" name="title" id="title"><br/>
		<label for="content">Content</label><br/>
		<textarea name="content" id="content"></textarea><br>
		<button>Send</button>
	</form>
</body>
</html>
